
<section class="container">
    <section class="search-location">
<input  class="search shadow" type="text" placeholder="Pesquisar...">
</section>
<h1>Pesquisa lista de compras</h1>
<table class="table table-hover shadow">
    <thead>
      <tr>
        <th scope="col">Data:27/09/2020</th>
        <th scope="col">Itens</th>
        <th scope="col">Quantidade comprada</th>
        <th scope="col">Preço total do item</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Arroz</td>
        <td>2 pacotes</td>
        <td>20,00</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Feijão</td>
        <td>1 pacote</td>
        <td>10,00</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Banana</td>
        <td>6 un</td>
        <td>5,00</td>
      </tr>
    </tbody>
  </table>
</section>